body, ul, div, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "微软雅黑";
  font-size: 14px;
}

input {
  font-size: 14px;
}

.hidden {
  display: none;
}

.main {
  width: 800px;
  margin: 0 auto;
  li {
    line-height: 40px;
    position: relative;
    border: 1px solid transparent;
    padding: 0 20px;
    .type-span {
      display: block;
      width: 10px;
      height: 10px;
      background: #ccc;
      margin: 14px 10px 0 0;
      float: left;
    }
    .close {
      position: absolute;
      color: #f00;
      font-size: 20px;
      line-height: 40px;
      height: 40px;
      right: 20px;
      cursor: pointer;
      display: none;
      top: 0;
    }
    &.end {
      .type-span {
        background: #09f;
      }
    }
    &:hover {
      border: 1px solid #09f;
      .close {
        display: block;
      }
    }
    .text2 {
      height: 40px;
      padding-left: 10px;
      box-sizing: border-box;
      margin-left: 10px;
      width: 80%;
      display: none;
    }
    &.eidting .text2 {
      display: block;
    }
    &.eidting div {
      display: none;
    }
  }
}

.text1 {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  outline: none;
  &:after {
    display: block;
    width: 10px;
    height: 10px;
    content: "";
  }
}

li {
  list-style-type: none;
}

.clear {
  clear: both;
}
